.init-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 1.1em;
    cursor: pointer;
    border: 2px solid #fff;
    transition: color .2s, background-color .2s;
}
.init-button:hover {
    color: #fff;
    background-color: transparent;

}