.menu {
    position: fixed;
    width: 300px;
    box-shadow: 0 0 20px .1px rgb(7, 7, 7);
    border-radius: 10px;
    left: 50px;
    padding: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color .2s;
}
.button:hover {
    background-color: rgb(51, 127, 199);
}

.button img {
    height: 30px;
}

.button span {
    font-size: 1.2em;
    margin-left: 10px;
}