.dashboard {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

.dashboard .menu-box {
    margin-left: 50px;
}

.content {
    width: 80%;
    min-height: 500px;
    max-width: 1000px;
    margin-left: 50px;
    margin-bottom: 100px;
}