.dashboard-button-box {
    width: fit-content;
    position: absolute;
    left: 35px;
    top: 50px;
}

.dashboard-button {
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 50px;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition: background-color .2s, color .2s;
    font-family: 'Lato', sans-serif;
}

.dashboard-button:hover {
    background-color: #fff;
    color: #000;
}